.navbar {
  background-color: var(--rosso-unibo);
}
.container {
  max-width: none !important;
}
.home_view {
  width: 100%;
  height: 93vh;
  background-color: lightgrey;
}
#login {
  margin-left: auto !important;
}
img.fullscreen {
  float: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}
#scroll_arrow {
  text-align: center;
  font-size: 400%;
  width: 100%;
  height: auto;
  float: none;
  color: #ffffff;
  position: absolute;
  bottom: 8%;
}

img.main_logo {
  width: 60%;
  float: none;
  height: auto;
  position: absolute;
  left: 20%;
  margin: 0;
  top: 25%;
}

div.o_w {
  overflow: hidden;
}

hr {
  height: 12px !important;
  border: 0 !important;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
  clear: both;
  margin-top: 50px !important;
}
#title {
  clear: both;
  text-align: center;
  padding-top: 5vh;
}

/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: var(--rosso-unibo);
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}
.footer_ul2_amrc .fab.fa-bitbucket.fleft.padding-right {
  color: #ccc;
}

.bottom_border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Smartphone Portrait */
@media only screen and (max-width: 480px) {
}

/* Smartphone landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #scroll_arrow {
    font-size: 200%;
    bottom: 2%;
  }
  img.main_logo {
    width: 40%;
    left: 30%;
    top: 20%;
  }
  div.info_section > img {
    max-height: 120px !important;
  }
  div.info_section p {
    margin-top: 0px !important;
  }
}
/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #scroll_arrow {
    font-size: 200%;
  }
  img.main_logo {
    width: 40%;
    left: 30%;
    top: 25%;
  }
  div.info_section > img {
    max-height: 240px !important;
  }
  div.info_section p {
    margin-top: 70px !important;
  }
}
/* Tablet landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #scroll_arrow {
    font-size: 400%;
  }
  img.main_logo {
    width: 24%;
    left: 38%;
    top: 25%;
  }
  div.info_section > img {
    max-height: 300px !important;
  }
  div.info_section p {
    margin-top: 90px !important;
  }
}
/* Laptop, Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  #scroll_arrow {
    font-size: 150%;
  }
  img.main_logo {
    width: 22%;
    left: 38%;
    top: 25%;
  }
  div.info_section > img {
    max-height: 450px !important;
  }
  div.info_section p {
    margin-top: 110px !important;
  }
}
/* Desktop */
@media only screen and (min-width: 1281px) {
  div.info_section p {
    margin-top: 20vh !important;
  }
  div.info_section > img {
    max-height: 600px !important;
  }
  img.main_logo {
    width: 20%;
    left: 40%;
    top: 30%;
  }
  #scroll_arrow {
    font-size: 150%;
  }
}
