.navbar {
  background-color: var(--rosso-unibo);
}
div.block {
  height: 93vh;
  width: 100%;
}
.description p {
  max-width: 100vh !important;
}
.prodImage {
  max-height: 12vh;
  max-width: 24%;
  min-width: 10%;
  min-height: 70%;
}
.product {
  height: 33vh;
}

.cost {
  font-size: 150%;
}

img.main_logo {
  max-width: 10%;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -500;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("/img/hambg.jpg");
  background-position: 48% 95%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 190% 120vh;
  --blur-pixel: 10px;
  -webkit-filter: grayscale(30%) blur(var(--blur-pixel));
  -moz-filter: grayscale(30%) blur(var(--blur-pixel));
  -o-filter: grayscale(30%) blur(var(--blur-pixel));
  -ms-filter: grayscale(30%) blur(var(--blur-pixel));
  filter: grayscale(30%) blur(var(--blur-pixel));
}

li {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

@media only screen and (max-width: 480px) {
}
/* Smartphone landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}
/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
/* Tablet landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* Laptop, Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .product {
    height: 20vh;
  }

  .background-image {
    background-size: 190% 250vh;
    background-position: 55%;
  }
}
/* Desktop */
@media only screen and (min-width: 1281px) {
  .product {
    height: 20vh;
  }

  .background-image {
    background-size: 180% 250vh;
    background-position: 50%;
  }
}
