:root {
  --rosso-unibo: #ad2624;
}

body {
  scroll-behavior: smooth;
}

img:not(.dgImglink,.dgImgLink) {
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

button:not(.close) {
  background-color: var(--rosso-unibo) !important;
  border-color: white !important;
}

.orders {
  background-color: white;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
/* Desktop */
@media only screen and (min-width: 1281px) {
  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  div.block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button.navbar-btn.btn.active {
  background-color: white !important;
  color: var(--rosso-unibo) !important;
}
