.navbar {
  background-color: var(--rosso-unibo);
}
#logout {
  margin-left: 10px;
}
.block {
  max-height: 90vh;
}
.no-messages {
  color: black;
  margin-top: 40vh;
}
.message {
  word-wrap: break-word;
}
span.num {
  position: absolute;
  top: -5px;
  left: 17px;
  padding: 0 4px 0 4px;
  border-radius: 50%;
  background: var(--rosso-unibo);
  color: white;
  border-color: var(--rosso-unibo);
  box-shadow: inset 0 0 0 2px white;
  font-size: 90%;
  min-width: 21px;
}
#notifiche {
  position: relative;
}
.description p {
  max-width: 100vh !important;
}
.prodImage {
  max-height: 12vh;
  max-width: 24%;
  min-width: 10%;
  min-height: 70%;
}
.cost {
  font-size: 150%;
}
.total {
  font-size: 150%;
}
img.main_logo {
  max-width: 10%;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -500;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("/img/hambg.jpg");
  background-position: 48% 95%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 190% 120vh;
  --blur-pixel: 10px;
  -webkit-filter: grayscale(30%) blur(var(--blur-pixel));
  -moz-filter: grayscale(30%) blur(var(--blur-pixel));
  -o-filter: grayscale(30%) blur(var(--blur-pixel));
  -ms-filter: grayscale(30%) blur(var(--blur-pixel));
  filter: grayscale(30%) blur(var(--blur-pixel));
}

li,
form,
.no-messages {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

#form-container:after {
  content: "";
  display: block;
  height: 35vh;
}
.hover-button {
  font-size: 158% !important;
  right: 5%;
  bottom: 3vh;
  z-index: 500;
}

@media only screen and (max-width: 480px) {
}
/* Smartphone landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}
/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
/* Tablet landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* Laptop, Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .background-image {
    background-size: 190% 250vh;
    background-position: 55%;
  }
}
/* Desktop */
@media only screen and (min-width: 1281px) {
  .background-image {
    background-size: 180% 250vh;
    background-position: 50%;
  }
}

.text-area-desc {
  max-height: 70vh;
  min-height: 5vh;
}

.switch {
  position: relative;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  color: #ccc;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  height: 18px;
  padding: 6px 6px 5px 6px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ececec;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

body.IE7 .switch {
  width: 78px;
}

.switch span {
  display: inline-block;
  width: 35px;
}
.switch span.On {
  color: #33d2da;
}

.switch .toggle {
  position: absolute;
  top: 1px;
  width: 37px;
  height: 25px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ececec),
    color-stop(100%, #ffffff)
  );
  background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: linear-gradient(top, #ececec 0%, #ffffff 100%);

  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  z-index: 999;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
}

.switch.On .toggle {
  left: 2%;
}
.switch.Off .toggle {
  left: 54%;
}

/* .round Switch */
.switch.round {
  padding: 0px 20px;
  border-radius: 40px;
}

body.IE7 .switch.round {
  width: 1px;
}

.switch.round .toggle {
  border-radius: 40px;
  width: 14px;
  height: 14px;
}

.switch.round.On .toggle {
  left: 3%;
  background: #33d2da;
}
.switch.round.Off .toggle {
  left: 58%;
}
